.productImage{
    max-width: 150px;
    max-height: 150px;
    transition: transform ease 0.5s;
}

.productImage:hover{
    transform: scale(1.1);
}

#tableDiv{
    max-width: 1000px;
}

#deliveryForm{
    max-width: 500px;
    border-radius: 30px;
}

#costosContainer{
    max-width: 700px;
}