
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@500&display=swap');

nav {
  background-color: #344966; 
  padding: 1%;
  justify-content: space-between;
}

body {
  background-color:azure;
  margin: 0; 
}

#switch {
  position: absolute;
  top: 2vh;
  right: 2vw;
}

#footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
  background-color: #344966;
  padding: 2vh;
}

#japabajo{
  margin-top: 7vh;
}

#formDiv{
  margin-bottom: 20vh;
}

/* Mensaje de bienvenido */

p{
  font-size: 17px;
}

.welcome-back {
  text-align: center;
  padding: 20px; 
  display: flex;
  justify-content: space-between; 
  
}

.message {
  padding: 10px;
}

.message h2 {
  font-family: 'Anton', sans-serif;
  font-size: 50px;
  padding: 1rem;
  margin-top: 10%;
}

.message button{
  padding: 10px;
  font-weight: 400;
  background-color: #11202c;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  transition: all .3s ease-in;
  color: azure;
}

.message button:hover {
  background-color: #172b3a;
}

/* Formulario */

.create-account {
  padding: 2.7rem 0;
  font-size: 1.7rem;
  color:azure;
  text-align: center;
  font-family: 'Anton', sans-serif;

}

.formulario {
  background-image: linear-gradient(rgba(128, 128, 128, 0.5), rgba(128, 128, 128, 0.5)), url(../img/compras-fondo-vertical.png);
  background-size: cover;
  width: 70%;
  height: 94%;
  padding: 1.5%;
  margin: 3% auto;
  border-radius: 30px;
}

.input {
  width: 65%; 
  display: flex;
  margin: auto;
  margin-bottom: 1rem;
  background-color: transparent;
  border: none;
  border-bottom: white thin solid;
  text-align: center;
  outline: none;
  padding: 1px 0;
  font-size: 13px;
  max-width: 300px;
}

#email{
  height: auto;
  margin-bottom: 1rem;
}

.form-label {
  color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  border-radius: 20px;
}

.btn {
  padding: 1rem;
  font-weight: 400;
  border-radius: 30px;
  border: none;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  margin-top: 30px;
  transition: all .3s ease-in;
  color: aliceblue;
  margin: 0 auto; 
  display: block;
  width: 150px;
  height: 50px;
}

.btn-primary {
  background-color: #11202c;
  border-color: #11202c;
}

.btn-primary:hover {
  background-color: #172b3a; 
  border-color: #172b3a;
}


/* Idioma */

#languages{
  user-select: none;
}

#languages img{
  width:50px;
  cursor: pointer;
}

/* Volver atras */


.Btn {
  width: 40px;
  height: 40px;
  background-color: #11202c;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  bottom:18px;
  right: 25px; 
  border: none;
}
  
.arrow path {
  fill: white;
}
  
.text {
  font-size: 13px;
  width: 100px;
  position: absolute;
  color: #151d28;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -16px;
  opacity: 0;
  transition-duration: .7s;
  font-weight: bolder;
}
  
.Btn:hover .text {
  opacity: 1;
  transition-duration: .7s;
}

.Btn:hover .arrow {
  animation: slide-in-bottom .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Facebook y google */

#otrasOpcionesLogIn img{
  width: 30px;
  cursor: pointer;
}

#otrasOpcionesLogIn {
  user-select: none;
}

#showPasswordImg, #showPasswordImg2{
  width: 10%;
  user-select: none;
  cursor: pointer;
}

.mb{
  display: flex;
  align-items: center;
}

#divRow{
  width: 200px;
}

.nmc{
  color: #fff;
  font-size: small;
}

/* RESPONSIVE */

@media only screen and (min-width: 2000px) {
  .formulario {
    font-size: 2rem;
    margin-top: 40px;
  }

  .message {
    font-size: 2rem;
  }

  p{
    font-size: 30px;
  }

  .message button {
    padding: 20px;
    font-weight: 800;
    font-size: 20px;
    margin-top: 50px;
  }

  .message h2 {
    font-size: 90px;
    padding: 2rem 0;
  }
  .formulario input {
    height: auto;
    font-size: 18px;
  }
  #email{
    font-size: 18px;
    margin-left: 3rem;
  }

  .create-account {
    padding: 2rem 0;
    font-size: 50px;
  
  }
  
  .btn {
    padding: 20px;
    font-weight: 800;
    font-size: 18px;
    width: 220px;
    height: 70px;
  }

  .Btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom:30px;
    right: 35px; 
  }

}