main{
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
}

.name{
    text-decoration: underline red solid 2px;
}

.name::first-letter{
    color: red;
    font-size: 120%;
}

.description, .cost, .category, .soldCount{
    margin: 20px auto;
    margin-top: 20px;
    border: solid 1px black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
    width: 500px;
    padding: 5px;
    display: block;
}

.imageElement{
    width: 350px;
    margin: 20px;
    border: solid 3px black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
}

.imageElement:hover{
    transform: scale(120%);
}

/* PARTE 4 CSS Estilos */
<<<<<<< Updated upstream

=======
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}
>>>>>>> Stashed changes

.star {
  font-size: 32px;
  color: rgb(161, 154, 154);
  transition: color 0.3s;
  cursor: pointer
}

.star:hover,
.star.checked{
  color: orange;
}
/*finaliza Estilos 4*/