/* Estilo del botón para subir */

#volverArriba{
    border: solid black 3px;
    box-shadow: 3px 3px 3px gray;
    background-color: white;
    text-decoration: none;
    padding: 3px;
    right: 10px;
    bottom: 10px;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    user-select: none;
}

/* Estilo del searchbar */

#searchInput {
    background-image: url(../img/lupa-buscador.png);
    background-repeat: no-repeat;
    background-position: 8px center;
    padding-left: 20px;
}

input[type="search"] {
    background-color: #5856d665;
    text-align: center;
    width: 50%;
    padding: 12px;
    border: 3px solid #344966;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

div .col{
    max-width: 275px;
}

.btn, .btn-light, .btn-block{
    border: gray 2px solid;
}

.card-deck{
    background-color: #344966c7;
    background-size: cover;
    padding: 2%;
}

/* Estilo para dar tamaño a las cards de los elementos según la pantalla*/

/* Estilos para pantallas pequeñas */

@media (max-width: 767px) {
    #product-list{
        width: 75%;
    }
    input[type="search"] {
        width: 85%;
    }
}
  
/* Estilos para pantallas medianas */

@media (min-width: 768px) and (max-width: 1023px) {
    #product-list{
        width: 70%;
    }
}
  
/* Estilos para pantallas grandes */

@media (min-width: 1024px) {
    #product-list{
        width: 45%;
    }
}

.productCard{
    transition: transform ease 0.5s;
}

.productCard:hover{
    transform: scale(105%);
    z-index: 20;
    cursor: pointer;
}

