body{
    background-color: antiquewhite;
  }
  
  #searchInput {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAA3klEQVR4nN2VQQrCMBBF3wF0WduLtAewK82mqKWkuOih6qW8gwh6DBdKYIRQsGZqi9APfzOZ/J9MJgnMHQmQAQYohUZibmwwlkAO2C/MJVeFFbAPELdClxtpVq4Rt55J0E7WA8StV65eJD+IW2HcZ5CNYJD2GRhJqoGTsFbGnMZHlJLkJjyFrTJWTm1wCC1RK6yVMfPXQ06mbtNfL9qWACyA3QDxBrgAxxCTSPkeNcBZuukBVGM+1xvg6rXr26QgELF0RvfDSb0DrUTUN7kzMqqOyY0JUMjKnbgr3UzwAj9FeoZUf60KAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-position: 8px center;
    padding-left: 20px;
    }

input[type="search"] {
        display: block;
        background-color: lightblue;
        text-align: center;
         width: 35%;
         padding: 12px;
        border: 3px solid #5856d6;
         border-radius: 5px;
        font-size: 16px;
        margin-bottom: 10px;
  }


#products-title{
    display: flex;
    justify-content: center;
    letter-spacing: 10px;
    text-decoration: underline 2px black;
    user-select: none;

}

  .product{
    position: relative;
    border: 6px black solid;
    border-radius: 10px;
    margin: 10px;
    padding-bottom: 75px;
    user-select: none;
    transition: transform 0.3s ease;
}

.product:hover{
    transform: scale(1.1);
}

.imageElement{
    width: 250px;
    float: left;
    border: lightblue solid 5px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px lightgray;
    margin: 10px;
    transition: transform 0.3s ease;
}

.imageElement:hover{
    transform: scale(1.1);
}

.nameElement{
    letter-spacing: 1px;
    font-weight: 700;
    text-decoration: underline skyblue 3px;
}

.nameElement::first-letter{
    font-size: 150%;
}

.priceElement{
    color: green;
    font-size: 150%;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px
}

.soldElement{
    font-size: 50%;
    color: gray;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

/* Volver arriba */

.Btn {
    width: 45px;
    height: 45px;
    background-color: #4a4aee;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position:relative;
    bottom: 20px;
    right: 20px; 
    border: none;
  }
    
  .arrow path {
    fill: white;
  }
    
  .text {
    font-size: 15px;
    width: 100px;
    position: absolute;
    color: #4a4aee;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -20px;
    opacity: 0;
    transition-duration: .7s;
  }
    
  .Btn:hover .text {
    opacity: 1;
    transition-duration: .7s;
  }
  
  .Btn:hover .arrow {
    animation: slide-in-bottom .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @keyframes slide-in-bottom {
    0% {
      transform: translateY(12px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  