/* maximo 720px */

@media screen and (max-width:720px) {
    .container{
        display: grid;


    }
    input[type="search"] {
        display: block;
        text-align: center;
        width:90%;
        padding: 12px;
        border-radius: 5px;
        font-size: 14px;
        margin-bottom: 10px;
    }
    input[type="number"] {
        width: 80%;
        border-radius: 5px;
        font-size: 14px;
        margin-bottom: 10px;
    }
}
