/* maximo 720px */
@media screen and (max-width:720px) {
    #containerInfo {
        display: flex;
        flex-direction: column;
    }
    
    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    } 
    .name, .card-title, h2{
        font-family: 'Anton', sans-serif;
    }
    .product{
        background-color: rgba(53, 52, 52, 0.404);
        padding: 2rem;
    }
    .name{
        text-align: center;
    }
    .carousel{
        width: 100%;
        height: auto;
        margin: auto;
        box-shadow: none;
    }
    .imageElement:hover{
        transform: scale(120%);
    }
}
   
@media screen and (max-width:320px ) and (max-width:430px )and (max-width:450px) {
    #containerInfo {
        display: grid;
        padding: 4%;
    }
    
    .container {
      display: flex;
      justify-content: space-between;
    }   
    .name, .card-title, h2{
        font-family: 'Anton', sans-serif;
    }
    .product{
        background-color: rgba(53, 52, 52, 0.404);
        padding: 2rem;
    }
    .name{
        text-align: center;
    }
    .carousel{
        width: 100%;
        height: auto;
        margin: auto;
        box-shadow: none;
    }
    .imageElement:hover{
        transform: scale(120%);
    }
    
  }
  