/* maximo 720px */

@media screen and (max-width:720px) {

.container{
    display: grid;


}
input[type="search"] {
    display: block;
    text-align: center;
    width:90%;
    padding: 12px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
}
input[type="number"] {
    width: 80%;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
}


}

   
/* pantallas de maximo 320, 430, 450 */

@media screen and (max-width:320px ) and (max-width:430px )and (max-width:450px) {
 

    }
